@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.divArticles{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 5%;
    transition: 0.3s ease;
}
.articlesDiv1{
    height: 550px;
    width: 300px;
    border: 1px solid white;
    border-radius: 15px;
    transition: transform 0.5s ease;
}
.articlesDiv1:hover{
    transform: scale(1.1);
}
.articlesImg{
    height: 300px;
    width: 200px;
    margin-top: 20px;
    transition: transform 0.5s ease;
    border-radius: 5px;
}
.articlesImg:hover{
    transform: scale(1.05);
}
.articlesDivImg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.articlesDivText{
    margin-left: 15%;
    font-family: "Rubik";
}
.articlesH3{
    font-weight: 100;
    transition: transform 0.5s ease;
}
.articlesH3:hover{
    color: hsla(178, 100%, 50%, 0.518);
    transform: scale(1.05);
}
.articlesP{
    font-weight: 200;
    margin-top: 13%;
    transition: transform 0.5s ease;
}
.articlesP:hover{
    color:hsla(178, 100%, 50%, 0.518);
    transform: scale(1.05);
}
.articlesP2{
    font-weight: 200;
    margin-top: 5%;
    transition: transform 0.5s ease;
}
.articlesP2:hover{
    color:hsla(178, 100%, 50%, 0.518);
    transform: scale(1.05);
}
.articlesBtn{
    margin-top: 5%;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid hsla(138, 100%, 50%, 0.518) ;
}
.articlesBtn:hover{
    background-color: hsla(138, 88%, 42%, 0.518);
    color: white;
}

.rouge {
  color: red;
  font-weight: 500;
}

.orange {
  color: orange;
  font-weight: 500;
}

@media (max-width:576px) {
    .divArticles{
        flex-direction: column;
        margin-left: 20%;
    }
}
@media (min-width:577px) and (max-width:768px) {
    .divArticles{
        flex-direction: column;
        margin-left: 30%;
    }
}
@media (min-width:769px) and (max-width:950px) {
    .divArticles{
        flex-direction: column;
        margin-left: 40%;
    }
}